@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p style="font-size:20px;"> You can access the Address Book <a href="https://localhost:5001/Persons"> here </a></p>
</div>
